/* @font-face {
  font-family: Product Sans Regular;
  src: url("/assets/fonts/Product\ Sans\ Regular.ttf");
} */
/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
body {
  overflow-x: hidden !important;
  /* font-family: "Product Sans Regular", sans-serif; */
  font-family: Nunito;
  margin: 0;
  padding: 0;
}

.nav-link {
  /* font-weight: 700; */
  color: #fff !important;
}

.rounded {
  border-radius: 8px !important;
  transition: 0.2s all linear;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.rounded:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quote {
  width: 300px;
  font-size: 25px;
  margin: 40px auto;
}

.main {
  display: flex;
}

.main-2 {
  display: none;
}

.heading {
  color: #4285f4;
  font-size: 24px;
  font-weight: 700;
}

.card {
  border: none;
}

.img-card {
  border: 0;
  top: 45px;
}

.content-card {
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
  background: #4285f4;
}

.content {
  margin: 70px 45px 55px 55px;
  color: white;
}

.card-container {
  margin-left: -2rem;
}

.infra-container {
  padding: 20px auto;
  margin-left: -3rem;
}

.greyback {
  position: relative;
  top: 0;
  left: 0;
}

.jet {
  position: absolute;
  top: 25px;
  left: 0px;
}

.cardBtn {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #4285f4;
  height: 40px;
}

.btnText {
  color: #fff;
}

.glimpses,
.about {
  background-color: #f6f6f6;
}

.bg-dark {
  background-color: #3c83da !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}
/* .custom_btn:hover {
  background-color: #222222;
} */
.armed-card {
  height: 420px;
}
.armed-card:hover {
  transition: 0.2s all linear;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom_btn {
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  margin: 0 12px;
  padding: 8px 16px;
  border-radius: 4px;
  /* background: white; */
  transition: 0.2s all cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.custom_btn:hover {
  background: #3c83da;
  color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#dropdown-basic-button {
  background-color: #3c83da;
  border: 0;
}

@media (max-width: 991.98px) {
  .main {
    display: none;
  }

  .main-2 {
    display: block;
  }

  .img-card {
    top: 10px !important;
  }

  .content-card-2 {
    border-top-left-radius: 64px;
    border-bottom-right-radius: 64px;
    background: #4285f4;
  }
}

@media (max-width: 1200px) {
  .content {
    margin: 55px 40px 0px 55px;
    padding-bottom: 30px;
    font-size: 15px;
  }

  .img-card {
    top: 60px;
  }

  .card-container {
    margin-left: -3rem;
    height: 350px;
  }
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

@media (min-width: 992px) {
  .slider-image {
    border-radius: 8px;
    height: 518px;
  }
}

footer {
  background: #222222;
  padding-top: 48px;
  color: #fff;
}

footer h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

footer p {
  font-size: 14px;
}

.side-links {
  color: #fff;
  border-radius: 8px;
}

.side-links a:nth-child(1) {
  background-color: #3c83da;
  color: #fff;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  /* border: solid #db4437; */
}

.side-links a:nth-child(2) {
  background-color: #0f9d58;
  color: #fff;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0);
  /* border: solid #f4b400; */
}

.side-links a:nth-child(3) {
  background-color: #db4437;
  color: #fff;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0);
  /* border: solid #4285f4; */
}

.side-links a:nth-child(4) {
  background-color: #f4b400;
  color: #fff;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0);
  /* border: solid #4285f4; */
}

.side-links a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #222222;
  color: white;
  /* border: 0; */
}
/* .side-links a:nth-child(2):hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #222222;
  border: solid #f4b400;
}

.side-links a:nth-child(3):hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #222222;
  border: solid #4285f4;
} */

.slider-image {
  border-radius: 8px !important;
  height: 100%;
}

.carousel-item,
.carousel-inner {
  border-radius: 8px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s all ease;
}

a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.single_service .thumb {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single_service:hover .thumb {
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}
