@font-face {
  font-family: Product Sans Regular;
  src: url("/assets/fonts/Product\ Sans\ Regular.ttf");
}

body {
  overflow-x: hidden !important;
  font-family: "Product Sans Regular", sans-serif;
}

.nav-link {
  font-weight: 700;
}

.rounded {
  border-radius: 8px!important;
  transition: 0.2s all linear;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.rounded:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quote {
  width: 300px;
  font-size: 25px;
  margin: 40px auto;
}

.main {
  display: flex;
}

.main-2 {
  display: none;
}

.heading {
  color: #4285f4;
  font-size: 24px;
  font-weight: 700;
}

.card {
  border: none;
}

.img-card {
  border: 0;
  top: 45px;
}

.content-card {
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
  background: #4285f4;
}

.content {
  margin: 70px 45px 55px 55px;
  color: white;
}

.card-container {
  margin-left: -2rem;
}

.infra-container {
  padding: 20px auto;
  margin-left: -3rem;
}

.greyback {
  position: relative;
  top: 0;
  left: 0;
}

.jet {
  position: absolute;
  top: 25px;
  left: 0px;
}

@media (max-width: 991.98px) {
  .main {
    display: none;
  }

  .main-2 {
    display: block;
  }

  .img-card {
    top: 10px !important;
  }

  .content-card-2 {
    border-top-left-radius: 64px;
    border-bottom-right-radius: 64px;
    background: #4285f4;
  }
}

@media (max-width: 1200px) {
  .content {
    margin: 55px 40px 0px 55px;
    padding-bottom: 30px;
    font-size: 15px;
  }

  .img-card {
    top: 60px;
  }

  .card-container {
    margin-left: -3rem;
    height: 350px;
  }
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

footer {
  background: #222222;
  padding-top: 48px;
  color: #fff;
}

footer h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

footer p {
  font-size: 14px;
}

.side-links {
  color: #fff;
}

.side-links a {
  font-weight: 500;
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.side-links a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-image{
  border-radius: 8px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s all ease;
}

a:hover {
  color: #d5d5d5;
  text-decoration: none;
}